@model List<ShoppingCartViewModel>

<div class="shopping-cart-container">
    <h1 class="mb-5">
        Shopping Cart
    </h1>
</div>
<div class="video-container">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/NsQxJT2OG4k?si=W-_8JbCW2t6oRLgj" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>

<table class="table mb-5">
    <thead>
        <tr>
            <th>
               Name
            </th>
            <th>
                Quantity
            </th>
            <th>
               UnitPrice
            </th>
            <th>
                View Colors
            </th>
            <th>
                View Sizes
            </th>
            <th>
                Selected Color
            </th>
            <th>
                Selected Size
            </th>
            
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>
                    @item.Product.Name
                </td>
                <td>
                    <input type="number" name="quantity" class="form-control" value="@item.Quantity" min="1" readonly />
                </td>
                <td>
                    @item.Product.UnitPrice
                </td>

                <td>
                    <a asp-controller="ShoppingCarts" asp-action="ViewColors" asp-route-shoppingCartId="@item.CartItemId">View Colors</a>
                </td>
                <td>
                    <a asp-controller="ShoppingCarts" asp-action="ViewSizes" asp-route-shoppingCartId="@item.CartItemId">View Sizes</a>
                </td>
                <td>
                    @item.SelectedColorName
                </td>
                <td>
                    @item.SelectedSizeName
                </td>
                <td>
                    <form asp-controller="ShoppingCarts" asp-action="RemoveFromCart" asp-route-cartItemId="@item.CartItemId"
                       onsubmit="return confirm('Are you sure you want to remove this item from your cart?')">
                       <input type="hidden" name="cartItemId" value="@item.CartItemId" />
                       <button type="submit"class="btn btn-primary">Remove</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="mb-3 shopping-cart-summary">
    <h1>Shopping Cart Summary:</h1>
    <p>
        <span class="font-weight-bold">Number of Products:</span> @Model.Count item(s)
    </p>
    <p>
        <span class="font-weight-bold">Total Price:</span> 
        <span class="h3">@Model.Sum(item => item.Quantity * item.Product.UnitPrice)</span>
    </p>
</div>

<div class="mb-3">
    <form asp-controller="ShoppingCarts" asp-action="Buy">
        <button type="submit" class="btn btn-success btn-buy-now">Buy Now</button>
    </form>
</div>

@if (TempData.ContainsKey("BuyMessage"))
{
    <div class="alert alert-success">
        @TempData["BuyMessage"]
    </div>
}
