@model ProductViewModel

 <div class="shopping-cart-container mb-3">
    <h1>Product Details</h1>
 </div>
    <div class="mb-3">
    <h2>@Model.Product.Name</h2>
    <h5>Description: @Model.Product.Description</h5>
     <h5>Price: @Model.Product.UnitPrice</h5>
    <h5>   <img class="image-size" src="@Model.Product.ImageUrl" alt="@Model.Product.Name" /></h5>
    </div>
  <div class="mb-3">
    <label asp-for="Product.ProductTypeId" class="form-label"> Product Type:</label>
    <select asp-for="Product.ProductTypeId" class="form-control" disabled>
        <option value="">Select a product type</option>
        @foreach (var productType in Model.ProductTypes)
        {
            <option value="@productType.Id">@productType.Name </option>
        }
    </select>
  </div>
  <div class="mb-3">
    <label asp-for="Product.ManufacturerId" class="form-label">Manufacturer:</label>
    <select asp-for="Product.ManufacturerId" class="form-control" disabled>
        <option value="">Select a manufacturer</option>
        @foreach (var manufacturer in Model.Manufacturers)
        {
            <option value="@manufacturer.Id">@manufacturer.Name</option>
        }
    </select>
  </div>
  <div class="mb-3">
    <label asp-for="Product.MeasureId" class="form-label">Unit of Measure:</label>
    <select asp-for="Product.MeasureId" class="form-control" disabled>
        <option value="">Select a unit of measure</option>
        @foreach (var unitOfMeasure in Model.UnitOfMeasures)
        {
            <option value="@unitOfMeasure.Id">@unitOfMeasure.Name</option>
        }
    </select>
  </div>

<form asp-controller="ShoppingCarts" asp-action="AddToCart">
    <input type="hidden" name="productId" value="@Model.Product.Id" />
    <button type="submit" class="btn btn-primary">Add to Cart</button>
</form>




        
        


