@model ProductColorViewModel

@{
        ViewData["Title"] = "Product Colors";
 }
 
 <h1 class="h2">
     @Model.Product.Name Colors
 </h1>
 <form asp-controller="ProductColors" asp-action="Create">
     <input type="hidden" name="ProductId" value="@Model.Product.Id" />
    <div class="mb-3">
        <label for="color-id" class="form-label">
            Select Color
        </label>
        <div class="input-group">
            <select id="color-id" name="ColorId" class="form-control">
                <option> -- Please Select--</option>
                @foreach (var color in Model.Colors)
                {
                    <option value="@color.Id">
                        @color.Name
                    </option>
                }
            </select>
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">Add</button>
            </div>
        </div>
    </div>
 </form>
 <table class="table">
     <thead>
         <tr>
             <th>
                 Id
             </th>
             <th>
                 Name
             </th>
             <th>
                 Description
             </th>
         </tr>
     </thead>
     <tbody>
        @foreach(var productColor in Model.ProductColors)
        {
            <tr>
                <td>
                    @productColor.Color.Id
                </td>
                <td>
                    @productColor.Color.Name
                </td>
                <td>
                    @productColor.Color.Description
                </td>
            </tr>
        }
    </tbody>

 </table>

 
