@model List<Product>

@{
    ViewData["Title"] = "Products";
}

<a class="btn btn-primary" asp-controller="Products" asp-action="Create">
    Create Product
</a>

<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Quantity
            </th>
            <th>
                Unit Price
            </th>
            <th>
                Manufacturer
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>
                    @product.Id
                </td>
                <td>
                    @product.Name
                </td>
                <td>
                    @product.Description
                </td>
                <td>
                    @product.Quantity
                </td>
                <td>
                    @product.UnitPrice
                </td>
                <td>
                    @product.Manufacturer?.Name
                </td>
                <td>
                    <a asp-controller="Products"
                        asp-action="Details"
                        asp-route-id="@product.Id"
                        class="btn btn-secondary">
                        Details
                    </a>

                    <a asp-controller="Products" 
                        asp-action="Edit" 
                        asp-route-id="@product.Id"
                        class="btn btn-secondary">
                        Edit
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>