@model List<ProductTypes>
@{
    ViewData["Title"] = "Products";
}
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Quantity
            </th>
            <th>
                 Price
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var productTypes in Model)//Model@ dynamica iskzbane,bayc verevum iran sarqelenq List<ProductTypes> tesaki
        {
            <tr>
                <td>
                    @productTypes.Id
                </td>
                <td>
                    @productTypes.Name
                </td>
                <td>
                    @productTypes.Description
                </td>
                <td>
                    @productTypes.Quantity
                </td>
                <td>
                    @productTypes.Price
                </td>
            </tr> 
        }
    </tbody>
